/*general*/
body{
	background-color:black;
	padding:0;
	margin:0;
}
div{
	font-family:Arial, Helvetica, sans-serif;
	color:white;
	text-decoration:none;
}
/*class*/
.menuBtS{
	float:left;
	width:350px;
	height:95px;
	margin-top:2.5px;
	margin-bottom:2.5px;
	background-color:black;
	opacity:0.75;
	text-align:center;
	line-height:95px;
	font-size:36px;
}
.text{
	float:left;
	width:161px;
	height:42px;
	margin-left:5px;
	border:1px solid black;
	border-radius:25px;
	padding:3px;
	text-align:center;
}
.menuBtD{
	float:right;
	width:230px;
	height:70px;
	margin-top:2.5px;
	margin-bottom:2.5px;
	background-color:black;
	opacity:0.75;
	text-align:center;
	line-height:70px;
	font-size:30px;
}
/*event class*/
.menuBtS, .menuBtD, #search, #motoPhoto:hover{cursor:pointer}
/*id*/
#container{
	width:1366px;
	height:630px;
	background-image:url(../img/loft.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
#contSx{
	float:left;
	width:380px;
	height:500px;
	margin-top:65px;
}
#central{
	float:left;
	width:736px;
	height:630px;
	padding:0;
}
#insert{
	float:left;
	width:450px;
	height:50px;
	line-height:50px;
	margin-left:143px;
	background:black;
	opacity:0.75;
	color:white;
	font-size:30px;
	text-align:center;
}
#formSearch{
	width:736px;
	height:50px;
	margin-left:10px;
	border:0;
}
#search{
	float:left;
	width:170px;
	height:50px;
	margin-left:10px;
	border:0;
	background:black;
	opacity:0.75;
	color:white;
	font-size:30px;
}
#photo{
	float:left;
	width:736px;
	height:560px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:bottom;
}
#contDx{
	float:right;
	width:250px;
	height:150px;
}