/*general*/
body{
	background-color:black;
	padding:0;
	margin:0;
}
input, .button{
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
}
/*class*/
.ins{
	float:left;
	margin-top:20px;
	margin-left:158px;
	border:none;
	border-radius:.7em;
}
.ins2{
	float:left;
	margin-top:20px;
	border:none;
	border-radius:.7em;
}
/*id*/
#container{
	width:1366px;
	height:830px;
	background-image:url(../img/wall_inserisci.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
#sx{
	float:left;
	width:300px;
	height:630px;
}
#home{
	float:left;
	width:150px;
	height:50px;
	background-image:url(../img/home.png);
	background-repeat:no-repeat;
	background-size:contain;
}
#centr{
	float:left;
	width:766px;
	height:830px;
	background:black;
	opacity:0.85;
}
#titolo{
	width:450px;
	height:50px;
	font-size:20px;
	text-indent:10px;
}
#marca{
	width:140px;
	height:25px;
	font-size:15px;
	text-indent:10px;
	margin-left:158px;
}
#modello{
	width:140px;
	height:25px;
	font-size:15px;
	text-indent:10px;
	margin-left:15px;
}
#anno{
	width:140px;
	height:25px;
	font-size:15px;
	text-indent:10px;
	margin-left:15px;
}
#descrizione{
	width:434px;
	height:230px;
	font-size:15px;
	line-height:1.3;
	padding:8px 10px;
	resize:none;
}
#prezzo{
	width:450px;
	height:25px;
	font-size:15px;
	text-indent:10px;
}
#f1{
	float:left;
	width:450px;
	height:25px;
	margin-left:158px;
	margin-top:20px;
	color:white;
}
#inserisci{
	float:left;
	width:450px;
	height:50px;
	background-color:ff6600;
	margin-top:50px;
	margin-left:158px;
	border:none;
	box-shadow: 0px 0px 100px #00ccff;
	border-radius:.7em;
	font-size:20px;
}#inserisci:hover{cursor:pointer;}
#dx{
	float:left;
	width:300px;
	height:630px;
}