/*general*/
body{
	background-color:black;
	padding:0;
	margin:0;
}
div{
	font-family:Arial, Helvetica, sans-serif;
	color:white;
	text-decoration:none;
}
/*class*/
.lbl{
	float:left;
	width:466px;
	height:50px;
	line-height:50px;
	text-align:center;
	margin-left:150px;
	margin-right:150px;
}
/*id*/
#container{
	width:1366px;
	height:630px;
	background-image:url(../img/wallProfilo.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
#sx{
	float:left;
	width:300px;
	height:630px;
}
#home{
	float:left;
	width:150px;
	height:50px;
	background-image:url(../img/home.png);
	background-repeat:no-repeat;
	background-size:contain;
}
#centr{
	float:left;
	width:766px;
	height:830px;
	background:black;
	opacity:0.85;
}
#titolo{
	float:left;
	width:766px;
	height:100px;
	line-height:100px;
	text-align:center;
	border-bottom:2px solid white;
	font-size:30px;
}
#infoCentr{
	float:left;
	width:766px;
	height:250px;
}
#dx{
	float:left;
	width:300px;
	height:630px;
}
#acquisti{
	float:right;
	width:250px;
	margin-top:2.5px;
	margin-bottom:2.5px;
	border:none;
	background-color:black;
	opacity:0.75;
	color:white;
	text-align:center;
	line-height:50px;
	font-size:20px;
}#acquisti:hover{cursor:pointer;}