/*general*/
body{
	background-color:black;
	padding:0;
	margin:0;
}
div{
	font-family:Arial, Helvetica, sans-serif;
	color:white;
	text-decoration:none;
}
/*class*/
.lbl{
	float:left;
	width:350px;
	height:30px;
	line-height:30px;
	padding-left:16px;
	font-size:15px;
}
/*id*/
#container{
	width:1366px;
	height:630px;
	background-image:url(../img/wallProfilo.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
#sx{
	float:left;
	width:300px;
	height:630px;
}
#home{
	float:left;
	width:150px;
	height:50px;
	background-image:url(../img/home.png);
	background-repeat:repeat-y;
	background-size:contain;
}
#centr{
	float:left;
	width:766px;
	height:630px;
	background:black;
	opacity:0.85;
}
#titolo{
	float:left;
	width:766px;
	height:100px;
	line-height:100px;
	text-align:center;
	border-bottom:5px double white;
	margin-bottom:20px;
	font-size:30px;
}
#infoCentr{
	float:left;
	width:766px;
	height:383px;
}
#elem{
	float:left;
	width:750px;
	height:200px;
	padding:8px;
	border-bottom:2px solid white;
}
#image{
	float:left;
	width:200px;
	height:200px;
	margin-left:13px;
	background-color:red;
}
#info{
	float:left;
	width:383px;
	height:200px;
}
#dx{
	float:left;
	width:300px;
	height:630px;
}
#acquisti{
	float:right;
	width:250px;
	margin-top:2.5px;
	margin-bottom:2.5px;
	border:none;
	background-color:black;
	opacity:0.75;
	color:white;
	text-align:center;
	line-height:50px;
	font-size:20px;
}#acquisti:hover{cursor:pointer;}