/*general*/
body{
	background-color:black;
	padding:0;
	margin:0;
}
input, textarea, span, div, button{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:white;
}
/*class*/
.text{
	background:black;
	border:0;
	padding:0;
}
/*id*/
#container{
	width:1366px;
	height:830px;
	background-image:url(../img/wall_inserisci.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
#sx{
	float:left;
	width:300px;
	height:630px;
}
#home{
	float:left;
	width:150px;
	height:50px;
	background-image:url(../img/home.png);
	background-repeat:no-repeat;
	background-size:contain;
}
#centr{
	float:left;
	width:750px;
	height:800px;
	background:black;
	opacity:0.85;
	padding:15px 8px 15px 8px;
}
#titInfo{
	width:650px;
	height:60px;
	margin-bottom:25px;
}
#titolo{
	width:650px;
	height:30px;
	line-height:30px;
	font-size:25px;
}
#info{
	width:650px;
	height:20px;
	margin-top:10px;
}
#marca, #modello, #anno, #prezzo{
	width:145px;
	height:20px;
	line-height:20px;
	margin-right:15px;
}
#compra{
	width:100px;
	height:60px;
	line-height:60px;
	text-align:center;
	border-radius:.75em;
	background-color:green;
	font-size:25px;
}
#foto{
	width:350px;
	height:400px;
	margin-right:30px;
}
#image{
	width:350px;
	height:350px;
	background-color:grey;
}
#prev, #next{
	width:100px;
	height:50px;
	line-height:50px;
	margin-left:34.5px;
	margin-right:34.5px;
	background-color:blue;
	text-align:center;
	border-radius:.75em;
}
#prev, #next, #compra:hover{cursor:pointer;}
#descrizione{
	width:350px;
	height:350px;
	resize:none;
}
#dx{
	float:left;
	width:300px;
	height:630px;
}