/*general*/
body{
	background-color:black;
	padding:0;
	margin:0;
}
input, .button{
	font-family:Arial, Helvetica, sans-serif;
	color:white;
	text-decoration:none;
}
/*class*/
.log{
	width:100%;
	height:100px;
	float:left;
	background-color:black;
	opacity:0.75;
	border:none;
	margin-top:40px;
	text-align:center;
	color:white;
	font-size:36px;
}
.button{
	width:400px;
	height:100px;
	float:left;
	background-color:black;
	opacity:0.75;
	border:none;
	box-shadow: 0px 0px 100px #00ccff;
	margin:40px 483px;
	font-size:36px;
	border-radius:.7em;
}
.button:hover{cursor:pointer}
/*id*/
#container{
	width:1366px;
	height:630px;
	background-image:url(../img/wallLog.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}