/*general*/
body{
	background-color:black;
	padding:0;
	margin:0;
}
div, span, h2{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:white;
	margin:0;
}
input, button{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	color:white;
	text-align:left;
	margin:0;
	padding:0;
	border:0;
	background:none;
}
ul{
	float:left;
	width:720px;
}
li{
	float:left;
	width:686px;
	height:86px;
	border-top:1px solid white;
	margin-bottom:20px;
}
/*class*/

/*id*/
#container{
	width:1366px;
	height:830px;
	background-image:url(../img/wall_inserisci.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
#sx{
	float:left;
	width:300px;
	height:630px;
}
#home{
	float:left;
	width:150px;
	height:50px;
	background-image:url(../img/home.png);
	background-repeat:no-repeat;
	background-size:contain;
}
#centr{
	float:left;
	width:766px;
	height:830px;
	background:black;
	opacity:0.85;
}
#titolo{
	width:100%;
	height:30px;
	line-height:30px;
	border-bottom:5px double white;
	font-size:30px;
	color:white;
	text-align:center;
}
#info{
	float:left;
	width:480px;
	height:86px;
	padding-left:20px;
}
#foto{
	float:left;
	width:86px;
	height:86px;
}
#infoTit{
	width:100%;
	height:30px;
	line-height:30px;
	font-size:25px;
}#infoTit:hover{cursor:pointer;}
#data{
	width:100%;
	height:20px;
	line-height:20px;
	margin-top:6px;
}
#item{
	width:100%;
	height:24px;
	line-height:24px;
	margin-top:6px;
}
#prezzo{
	width:100px;
	height:30px;
	line-height:30px;
	margin-top:28px;
	border-radius:.75em;
	background-color:red;
	text-align:center;
	text-shadow: 2px  2px 4px black, -2px -2px 4px black;
}
#marca, #modello, #anno{
	width:145px;
	margin-right:15px;
}
#dx{
	float:left;
	width:300px;
	height:630px;
}