/*general*/
body{
	background-color:black;
	padding:0;
	margin:0;
}
input, .button{
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
}
/*class*/
.log{
	width:450px;
	height:40px;
	float:left;
	background-color:white;
	border:none;
	margin-left:158px;
	margin-top:10px;
	text-align:center;
	font-size:25px;
	border-radius:.7em;
}
.button{
	width:450px;
	height:40px;
	float:left;
	background-color:ff6600;
	border:none;
	box-shadow: 0px 0px 100px #00ccff;
	margin-left:158px;
	margin-top:10px;
	font-size:30px;
	border-radius:.7em;
}
.button:hover{cursor:pointer}
/*id*/
#container{
	width:1366px;
	height:630px;
	background-image:url(../img/wallReg.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
#sx{
	float:left;
	width:300px;
	height:630px;
}
#home{
	float:left;
	width:150px;
	height:50px;
	background-image:url(../img/home.png);
	background-repeat:no-repeat;
	background-size:contain;
}
#centr{
	float:left;
	width:766px;
	height:830px;
	background:black;
	opacity:0.85;
}
#dx{
	float:left;
	width:300px;
	height:630px;
}